@media screen and (max-width: 600px) {


    #dates { 
        z-index: 9;
        position: absolute;
        margin-left: 20px;
        top: 60px;
    }

    #issues {
        position: absolute;
        top : 400px;
        margin-left: 10px;
    }

    .draw>img {
        width: 60%;
        height: 60%;
        display: none;
    }

    .draw {
        /* position: absolute;
        margin-left: -800px;
        top: 690px;
        z-index: 7; */
        display: none;

    }

    
    h3 {
        display: none;
    }
    .foot {
        display: none;
    }

    footer {
        text-align: left;
      margin-left: 10px;
        background-color:  #FE852B;
    }

  

    .bloc1 {
        padding-bottom: 350px;
    }
    
    .bloc2 {
    
            padding-bottom: 600px;
            background-image: none;
           
    }

   

    }

