@media screen and (max-width: 600px) {


    h1 {
        position: relative;
        margin-left: 60px;
        margin-top: -70px;
    }

    .mep {
        margin-top: 130px;
    }


    h3 {
        display: none;
    }

    .draw>img {
        width: 60%;
        height: 60%;
        display: none;
    }

    .draw {
        /* position: absolute; */
        /* margin-left: -1020px; */
        /* top: 1050px; */
        /* z-index: 7; */
        display: none;

    }

    footer {
        text-align: left;
      margin-left: 10px;
        background-color:  #FE852B;
    }

    .bloc2 {

        padding-bottom: 570px;


    }
    .foot {
        display: none;
    }

}